os:
  - linux
  - osx

language: java

install:
  - export PATH=$TRAVIS_BUILD_DIR/temp/processing-3.5.4:$PATH
  - mkdir $TRAVIS_BUILD_DIR/temp; cd $TRAVIS_BUILD_DIR/temp
  - curl -O https://github.com/processing/processing/releases/download/processing-0270-3.5.4/processing-3.5.4-linux64.tgz
  - file processing-3.5.4-linux64.tgz
  - tar -xvf processing-3.5.4-linux64.tgz
  - ls
#  # cp libraries
#  - mkdir ~\Documents\Processing\libraries
#  - xcopy $TRAVIS_BUILD_DIR\OpenBCI_GUI\libraries\* ~\Documents\Processing\libraries /s /i /q

script:
  - cd $TRAVIS_BUILD_DIR
  - python $TRAVIS_BUILD_DIR/release_script/make-release.py --no-prompts  

notifications:
  email:
    on_success: never
    on_failure: always