os:
  - linux
  - osx

language: java

install:
  # add processing to path
  - export PATH=$TRAVIS_BUILD_DIR/temp/processing-3.5.4:$PATH
  - mkdir $TRAVIS_BUILD_DIR/temp; cd $TRAVIS_BUILD_DIR/temp
  - curl -O -L https://download.processing.org/processing-3.5.4-linux64.tgz
  - tar -xzvf processing-3.5.4-linux64.tgz
  # cp libraries
  - mkdir -p $HOME/Documents/Processing/libraries
  - cp -a $TRAVIS_BUILD_DIR/OpenBCI_GUI/libraries/. $HOME/sketchbook/libraries/
  - ls -alp $TRAVIS_BUILD_DIR/OpenBCI_GUI/libraries/
  - ls -alp $HOME/Documents/Processing/libraries/
  - ls -alp $HOME/Documents/
  - ls -alp $HOME/Documents/Processing/

script:
  - cd $TRAVIS_BUILD_DIR
  - python $TRAVIS_BUILD_DIR/release_script/make-release.py --no-prompts  

notifications:
  email:
    on_success: never
    on_failure: always