image:
- Visual Studio 2017

stack: python 3

clone_depth: 3

artifacts:
  - path: OpenBCI_GUI\openbcigui_*.zip

deploy:
  provider: S3
  access_key_id:
    secure: 41Lh3mnlU+lVcr5eX3bTgmsKqcebacVgDOww7zb0r4E=
  secret_access_key:
    secure: jeVYQ02OTywaENrIcWvoZg+YzGnhiluCDes/kaJE4NeVIZqjlipFt5yXxCct9S5w
  bucket: openbci-gui
  folder: ${TRAVIS_BRANCH}/$(date +%F)_${TRAVIS_COMMIT}

build: off

init:
  # add processing-kava to the math as well as mt.exe (release script uses it to mopdify the manifest.xml)
  - cmd: set PATH=%APPVEYOR_BUILD_FOLDER%\temp\processing-3.5.4;C:\Program Files (x86)\Windows Kits\10\bin\x64;%PATH%

install:
  - mkdir %APPVEYOR_BUILD_FOLDER%\temp
  - cd %APPVEYOR_BUILD_FOLDER%\temp
  - appveyor DownloadFile https://download.processing.org/processing-3.5.4-windows64.zip
  - cd %APPVEYOR_BUILD_FOLDER%\temp
  - 7z x processing-3.5.4-windows64.zip -y -aoa
  # cp libraries
  - mkdir %userprofile%\documents\processing\libraries
  - xcopy %APPVEYOR_BUILD_FOLDER%\OpenBCI_GUI\libraries\* %userprofile%\documents\processing\libraries /s /i /q

build_script:
  - cd %APPVEYOR_BUILD_FOLDER%
  - python %APPVEYOR_BUILD_FOLDER%\release_script\make-release.py --no-prompts  

notifications:
  - provider: Email
    to:
      - '{{commitAuthorEmail}}'
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: true
