image:
- Visual Studio 2017

stack: python 3

clone_depth: 3

build: off

install:
  - mkdir %APPVEYOR_BUILD_FOLDER%\temp && cd %APPVEYOR_BUILD_FOLDER%\temp && appveyor DownloadFile https://download.processing.org/processing-3.5.3-windows64.zip
  - cd %APPVEYOR_BUILD_FOLDER%\temp && 7z x processing-3.5.3-windows64.zip -y -aoa
  # cp libraries
  - mkdir %userprofile%\documents\processing\libraries
  - xcopy %APPVEYOR_BUILD_FOLDER%\OpenBCI_GUI\libraries\* %userprofile%\documents\processing\libraries /s /i /q

test_script:
  - set PATH=%APPVEYOR_BUILD_FOLDER%\temp\processing-3.5.3;%PATH%
  # - echo "running processing" && %APPVEYOR_BUILD_FOLDER%\temp\processing-3.5.3\processing-java.exe --force --sketch=%APPVEYOR_BUILD_FOLDER%\OpenBCI_GUI\ --output=%APPVEYOR_BUILD_FOLDER%\tmp --build
  - cd %APPVEYOR_BUILD_FOLDER%
  #- python %APPVEYOR_BUILD_FOLDER%\release_script\make-release.py --no-prompts --processing-command processing-ajaa #--processing-command %APPVEYOR_BUILD_FOLDER%\temp\processing-3.5.3\processing-java.exe
  - ls C:\\projects\\openbci-gui-jsygc\\OpenBCI_GUI\\
  - processing-java --sketch=C:\\projects\\openbci-gui-jsygc\\OpenBCI_GUI\\ --export
  #- C:\\projects\\openbci-gui-jsygc\\temp\\processing-3.5.3\\processing-java.exe --sketch=C:\\projects\\openbci-gui-jsygc\\OpenBCI_GUI\\ --output=%APPVEYOR_BUILD_FOLDER%\tmp --export
  - ls %APPVEYOR_BUILD_FOLDER%

notifications:
  - provider: Email
    to:
      - '{{commitAuthorEmail}}'
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: true
